@import "font.scss";

body {
  font-family: "Helvetica Neue Regular";
}
h1 {
  font-family: "Helvetica Neue Thin";
  font-size: 98.67;
  letter-spacing: -1.5;
}
h2 {
  font-family: "Helvetica Neue Thin";
  font-size: 61.67;
  letter-spacing: -0.5;
}
h3 {
  font-family: "Helvetica Neue Regular";
  font-size: 49.05;
  letter-spacing: 0;
}
h4 {
  font-family: "Helvetica Neue Regular";
  font-size: 34.74;
  letter-spacing: 0.25;
}
h5 {
  font-family: "Helvetica Neue Regular";
  font-size: 24.53;
  letter-spacing: 0;
}
h6 {
  font-family: "Helvetica Neue Medium";
  font-size: 20.44;
  letter-spacing: 0.25;
}
body1 {
  font-family: "Helvetica Neue Regular";
  font-size: 16.35;
  letter-spacing: 0.5;
}
body2 {
  font-family: "Helvetica Neue Regular";
  font-size: 14.31;
  letter-spacing: 0.25;
}
subtitle1 {
  font-family: "Helvetica Neue Regular";
  font-size: 16.35;
  letter-spacing: 0.15;
}
subtitle2 {
  font-family: "Helvetica Neue Medium";
  font-size: 14.31;
  letter-spacing: 0.1;
}
button {
  font-family: "Helvetica Neue Medium";
  font-size: 14.31;
  letter-spacing: 1.25;
}
caption {
  font-family: "Helvetica Neue Regular";
  font-size: 12.26;
  letter-spacing: 0.4;
}
overline {
  font-family: "Helvetica Neue Medium";
  font-size: 12.26;
  letter-spacing: 2;
}